<% if node['nomad']['datacenter'] != nil -%>
datacenter = "<%= node['nomad']['datacenter'] %>"
<% end -%>

data_dir  = "<%= node['nomad']['data_dir'] %>"

bind_addr = "0.0.0.0" # the default

<% if node['nomad']['advertise'].length > 0 -%>
advertise {
<% node['nomad']['advertise'].each_pair do |k, v| %>
  k = v
<% end %>
}
<% end -%>

server {
  enabled          = <%= node['nomad']['server']['enabled'] %>
  bootstrap_expect = <%= node['nomad']['server']['bootstrap_expect'] %>
}

client {
  enabled       = <%= node['nomad']['client']['enabled'] %>
  network_speed = <%= node['nomad']['client']['network_speed'] %>
  <% if node['nomad']['client']['network_interface'] %>
  network_interface = <%= node['nomad']['client']['network_interface'] %>
  <% end %>
  options {
  <% node['nomad']['client']['options'].each_pair do |k, v| -%>
    <%= "#{k} = #{v}" %>
  <% end -%>
  }
}

acl {
  enabled    = <%= node['nomad']['acl']['enabled'] %>
  token_ttl  = "<%= node['nomad']['acl']['token_ttl'] %>"
  policy_ttl = "<%= node['nomad']['acl']['policy_ttl'] %>"
}

consul {
  address = "<%= node['nomad']['consul_address'] %>"
  <% if node['nomad']['consul_token'] %>
  token   = "<%= node['nomad']['consul_token'] %>"
  <% end %>
}

